/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site {
    flex: 1 0 auto;
}

.sticky {
    display: block;
}

.single-post {

    .site-content {
        @include container();
        display: flex;
    }

    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 5%;
        width: 73%;
        padding-top: 6rem;
        padding-bottom: 3rem;

    }

    .entry-header {
        top: 0;
        height: auto;
        width: 100%;
        position: relative;

        .entry-title {
            background-color: #248a83;
            color: #fff;
            font-size: 2rem;
            left: 0;
            padding: .5rem 1.25rem;
            position: absolute;
            margin-top: 2.25rem;
            max-width: 75%;
            top: 0;

            a {
                color: #fff;
            }
        }

        .entry-meta {
            background-color: #248a83;
            bottom: 8px;
            color: #fff;
            display: inline-block;
            font-family: 'Merriweather Web', sans-serif;
            padding: .4rem 1.5rem;
            position: absolute;
            right: 0;
            text-transform: uppercase;
        }
    }
}

.hentry {
    margin: 0 0 4.5rem;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;

}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

.entry-title,
.page-title {
    margin-top: 0;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

.widget-area {
    padding-left: 3rem;
    padding-top: 6rem;

    .widget {
        margin: 0 0 3rem;

        h2 {
            font-size: 1.3rem;
            font-family: 'Novecento Sans Web', sans-serif;
        }
    }
}

/* Comments */


.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-title {
    margin-bottom: 0;
}

.comment-list {
    margin-left: 0;
    padding-left: 0;

    & > li {
        border-bottom: $color__background-ins;
    }
}

.children li {
    border-top: $color__background-ins;
}

.comment {
    padding-top: $base__space-unit;

    article {
        padding-bottom: $base__space-unit;
    }
}

.comment-body {
    display: flex;

    p {
        margin-bottom: $base__space-unit / 2;
    }
}

.comment-author-avatar {
    border-radius: 50%;
    height: 64px;
    margin-right: $base__space-unit;
    overflow: hidden;
    width: 64px;
}

.comment-author {
    cite {
        font-style: normal;
        font-weight: bold;
    }
}

.comment-metadata {
    color: $color__med-grey;
    margin-bottom: $base__space-unit / 2;
}

.required {
    color: $color__orange;
}

.bypostauthor {
    display: block;
}