/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site {
    flex: 1 0 auto;
}

.sticky {
    display: block;
}

.single-post {

    .site-content {
        @include container();
        display: flex;
    }

    .content-area {
        border-right: 1px solid #e1e1e1;
        padding-right: 5%;
        width: 73%;
        padding-top: 6rem;
        padding-bottom: 3rem;

    }

    .entry-header {
        top: 0;
        height: auto;
        width: 100%;
        position: relative;
    }

    .entry-title {
        background-color: #248a83;
        color: #fff;
        font-size: 2rem;
        padding: 0.5em 1em;
        position: absolute;
        max-width: 75%;
        top: 0;
    }

    .entry-meta {
        background-color: #248a83;
        bottom: 7px;
        color: #fff;
        display: inline-block;
        font-family: 'Novecento Sans Web', sans-serif;
        padding: 1.00005rem 1.5rem;
        position: absolute;
        right: 0;
        text-transform: uppercase;
    }
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;

}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}

.entry-title,
.page-title {
    margin-top: 0;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

.widget {
    width: 27%;
    padding-left: 6rem;
    padding-top: 6rem;
}
/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}