/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.woff2') format('woff2'),
        url('Merriweather-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Novovento Sans Web';
    src: url('47877999d363d27257874f0f6df22b59.woff2') format('woff2'),
        url('47877999d363d27257874f0f6df22b59.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.woff2') format('woff2'),
        url('Merriweather-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.woff2') format('woff2'),
        url('Merriweather-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Novovento Sans Web';
    src: url('b36bfa0075ed0cce867f26e6f1a6dd62.woff2') format('woff2'),
        url('b36bfa0075ed0cce867f26e6f1a6dd62.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

