/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color__green;
	border: none;
	border-radius: 0;
	color: white;
	cursor: pointer;
	font-family: $font__code;
	@include font-size(.9);
	line-height: 1;
	padding: ($base__space-unit / 2) $base__space-unit;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		background: darken($color__green, 10%);
		color: white;
	}
}

.black-btn {
	@extend .btn;
	background-color: transparent;
	border: 1px solid black;
	color: black;
}

.white-btn {
	@extend .btn;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}

.black-btn,
.white-btn {
	&:hover,
	&:active,
	&:focus {
		background-color: $color__green;
		border: 1px solid $color__green;
		color: white;
	}
}


/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

