/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	background-color: hsla(0,0%,100%,.85);
    border-bottom: 1px solid #e1e1e1;
    height: 50px;
    padding: .5rem 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;

    .container {
    	margin: 0 auto;
    	padding: 0 auto;
    	width: 1120px;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    }

    .logo {
    	height: 33px;
    	width: 50px;
    }
}
    .main-navigation {
    	display: flex;
}
